.header {
    background-color: transparent;
    transition: background-color 0.4s;
}

.header__container {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}